[submodule ".registry"]
	path = .registry
	url = https://github.com/nimh-dsst/nimh-dsst.r-universe.dev
	branch = HEAD
[submodule "tdtr"]
	path = tdtr
	url = https://github.com/nimh-dsst/tdtr
	branch = *release
